.caseRoot {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.caseFigure {
  aspect-ratio: 51/64;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.caseImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.05);
  opacity: 0.8;
  transition: transform 0.5s, opacity 0.5s;
}

.caseRoot:hover .caseImage,
.caseRoot:focus-within .caseImage,
.caseRoot:active .caseImage {
  transform: scale(1);
  opacity: 0.9;
}

.caseTitle {
  margin-bottom: 0.5rem;
  font-family: var(--font-heading, inherit);
  font-size: 1.125rem;
  font-weight: 500;
}

@media (min-width: 1280px) {
  .caseTitle {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

@media (min-width: 1920px) {
  .caseTitle {
    font-size: 2.5rem;
  }
}

.caseTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1.25rem;
  row-gap: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: rgb(92, 92, 92);
}

@media (min-width: 1536px) {
  .caseTags {
    font-size: 1.125rem;
  }
}
